---
import BaseHead from "@/components/BaseHead";
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import ProviderTheme from "@/components/ProviderTheme";
import ProviderAnimations from "@/components/ProviderAnimations";
import TwSizeIndicator from "@/components/TwSizeIndicator";
import EditBlog from "@/components/editBlog";
import TwitterIcon from "@/components/icons/TwitterIcon";
import TwitterAccount from "@/components/icons/TwitterAccount";
import YoutubeAccount from "@/components/icons/YoutubeAccount";
import PinterestAccount from "@/components/icons/PinterestAccount";
import LinkedinIcon from "@/components/icons/linkedinIcon";
import LinkedinAccount from "@/components/icons/LinkedinAccount";
import InstagramAccount from "@/components/icons/InstagramAccount";
const { title, description, image, articleDate } = Astro.props;
---

<html lang="en" class="scroll-smooth">
  <head>
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-T33WM8D");
    </script>
    <BaseHead
      title={title}
      description={description}
      ogImage={image}
      articleDate={articleDate}
    />
    <ProviderTheme />
    <ProviderAnimations />
    <script
      type="application/ld+json"
      set:html={`
			 {
      "@context": "https://schema.org",
      "@type": "Article",
      "headline": "${title}",
      "image": [
        "${Astro.site + (image ?? "favicon.svg")}"
       ],
	   "articleBody":"${description ?? title + " | Fabrics Pedia"}",
      "datePublished": "${articleDate}",
      "dateModified": "${articleDate}",
      "author": [{
          "@type": "Person",
          "name": "Ferhat Aslan",
          "url": "https://feslan.github.io"
        }],
        "reviewRating": {
        "@type": "Rating",
        "ratingValue": "4.6"
      }
    }
		  `}
    />
    <meta name="p:domain_verify" content="49adb4b50fd6f8dd52a49ef3b6ae154d" />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2263631914774085"
      crossorigin="anonymous"></script>
    <meta
      name="robots"
      content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"
    />
  </head>

  <body class="bg-white text-stone-950 dark:bg-[#0a0910] dark:text-white">
    <main
      class="px-5 sm:mx-auto sm:max-w-2xl sm:px-8 lg:px-0 antialiased md:max-w-6xl grid xgap-12 mt-4 overflow-hidden md:overflow-visible"
    >
      <div class="w-full flex flex-row justify-start items-center gap-x-3">
        <span><TwitterAccount /></span>
        <span><YoutubeAccount /></span>
        <span><PinterestAccount /></span>
        <span><LinkedinAccount /></span>
        <span><InstagramAccount /></span>
      </div>
      <Header />
      <slot />
      <Footer />
    </main>
    <TwSizeIndicator />
    <EditBlog />
    <style>
      body {
        margin-left: calc(100vw - 100%); /* prevent layout shift */
      }
    </style>
  </body>
</html>
